.listWrapper{
    height: 58px;
    background-color: #fff;
    margin:8px;
    padding:6px;
    border-radius: 6px;
    border : 1px solid #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.listTitle{
    display: inline-block;
    text-align: left;
    line-height: 4;
    font-weight: bold;
    margin-left: 16px;
}

.listSubTitle{
    display: inline-block;
    float:right;
}

.listSubTitleText{
    margin:3px;
    line-height: 4;
    /*font-weight: bold;*/
}

.listSubTitleText.positive{
    color: mediumvioletred;
}
.listSubTitleText.negative{
    color: cornflowerblue;
}
